.App {
  text-align: center;
  background-color: #35654d;
  width: 100%;
  height: 75%;
}

.appTitle {
  margin: 5px 0px; 
  font-size: 80px;
  color: white;
  -webkit-text-stroke: 1px black;
}

.diceAndTableContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tableBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0px 100px 0px 100px; */
  width: 25%;
  height: 50%;
}

.rollBtn {
  height: 125px;
  width: 125px;  
  /* font-size: 50px; */
  margin: 50px 0px 50px 0px;
  background-color: red;
  border: 5px solid black;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px;
  font-weight: bolder;
  outline: none;
}

.rollBtn:hover {
  background-color: red;
}

.currentNumericalNumber {
  font-size: 75px;
}

.currentNumberTitle {
  text-align: center;
}

.numericalNumberContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid black;
  border-radius: 30%;
  width: 100px;
  height: 100px;
  background-color: white;
}

.rolls {
  text-align: center;
  border-collapse: collapse;
  border: 10px solid black;
  width: 100%;
  background-color: white;
}

.rows {
  border: 2px solid black;
}

.heading {
  background-color: red;
}

.spacefiller {
  height: 75px;
  width: 75px;
}

/* .die {
  width: 50%;
  height: 75%;
} */

.diceContainer {
  display: flex;
  justify-content: center;
  width: 25%;
  height: 75%;
}

.chipImg {
  height: 75px;
  width: 75px;
}

.die {
  width: 400px;
  height: 400px;
}

.chipsDisplayContainer {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
  /* min-width: 200px; */
  width: 25%;
  height: 50%;
}

.chipList {
  display: flex;

}

@media only screen and (max-width: 1100px) {

  .diceAndTableContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

